<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Welcome to Tic Tac Toe

    <table id="board">
<tr>
<td id="1"></td>
<td id="2"></td>
<td id="3"></td>
  </tr>
<tr>
<td id="4"></td>
<td id="5"></td>
<td id="6"></td>
  </tr>
<tr>
<td id="7"></td>
<td id="8"></td>
<td id="9"></td>
  </tr>
</table>


  </table>
  </body>
</html>
