<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Welcome to Tic Tac Toe
<br>
<table>
    <tr>
        <% @game.board.grid[0,3].each do |field| %>
        <td> <%= field %></td>
        <% end %>
    </tr>
    <tr>
      <% @game.board.grid[3,3].each do |field| %>
      <td> <%= field %></td>
      <% end %>
    </tr>
    <tr>
      <% @game.board.grid[6,3].each do |field| %>
      <td> <%= field %></td>
      <% end %>
    </tr>
</table>
<form action="/play" method="post">
<input type="text" name="field">
<button type="submit" value="Submit">Submit</button>
</form>

  </body>
</html>
